/* THIS CSS FILE CREATED BY JESSE HUDAK, JEREMY MCCARTER AND TYLER DINSDALE FOR */

/* CSS HEX PALLET
--platinum: #d3d4d9ff;
--air-force-blue: #4b88a2ff;
--fire-brick: #bb0a21ff;
--eerie-black: #252627ff;
--snow: #fff9fbff;
--selective-yellow: #ffb20fff;
--maize: #ffe548ff;
--black: #050505ff;

*/

:root {
  --primary-color: #d3d4d9;
  --secondary-color: #4b88a2;
  --tertiary-color: #252627;
  --accent-color: #050505;
  --alert-color: #ffb20f;
  --hover-color: #ffe548;
  --highlight-color: #fff9fb;
  --select-color: #bb0a21;
}

.body {
  background-color: var(--primary-color);
}


.mailIcon {
  display: none;
}

/* EXAMPLES OF HOW TO USE 
body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.button {
  background-color: var(--accent-color);
  color: white;
} */

/* Additional CSS rules */
